body{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}
/* nav starts*/
nav {
    height:100px;
    background-color: rgb(97, 122, 170);
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
html {
    scroll-behavior: smooth;
  }
.nav-item{
    text-decoration:none;
    color:black;
    margin-right:15px;
}
.nav-item:hover{
    text-decoration: underline;
}
.name {
    font-size: 30px; 
    font-family:Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
.profile{
    display:flex;
}
/* nav ends*/
/* main starts*/
main {
    height: 100%;
    background-color: lightblue;
    margin: 0px;
    border:20px;
}

main h2 {
    font-weight: bold;
    font-size: 36px;
    margin:0px;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
 }
.headline{
    padding-left: 40px;
    padding-right: 40px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
@media screen and (max-width:575px){
    .headline{
        flex-direction:column;
    }
    .photo {
        width:50 vw;
    }
    .paragraph{
        padding:50%;

    }
    .cards .cards-photo{
        width:50%;
        height:302px;
    }
    main{
        position:relative;
        bottom:10%;
    }
}
.photo{
    border: 1px solid black;
}
.paragraph{
    padding:30px;
}
.secondcards{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align:center;
    padding-top:30px;
}
.cards{
    text-align:center;
    padding-top:30px;
}
.cards-photo{
    border: 1px solid black;
    padding:0px;
    border-radius:15px;
}
.cards-photo:hover {
    transform: scale(1.1);
}
.contact{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding: 30px;
}
.contact a:hover {
    text-decoration: underline;
    color:black;
}
.contact a {
    color:black;
    text-decoration: none;
}

/*main ends*/
/*footer starts*/
footer {
    height: 100px;
    background-color:rgb(97, 122, 170);
    text-align: center;
}
.credit{
    font-size:20px;
    padding: 20px;
}
/* footer ends*/